test-kit/src/main/mule/test-kit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="05c1cda4-fa2d-4c93-a363-8495ed9c8ed8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-kitFlow" doc:id="7f9286be-ccd2-42a9-8c91-518ca18453bc" >
		<http:listener doc:name="Listener" doc:id="cd687745-eba8-445b-985b-c0ad894cad38" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="integration flow invoked" doc:name="Set Payload" doc:id="e9db896b-add2-4299-b5dc-a73eb982a9a3" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="a4fd739f-1f00-4c28-b924-9dccc9520df7" variableName="mydata"/>
		<logger level="INFO" doc:name="Logger" doc:id="6dda6473-019b-4889-a4ac-cfca83689dfa" message='"integration sucessfull"'/>
		<ee:transform doc:name="Transform Message" doc:id="2d0c6711-a425-4721-81f6-e1489722b179" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
